@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:wght@100&family=Staatliches&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

:root {
--colorTheme: #F5EFE1;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html{
  margin: 0;

   width: 100%;
   height: 100%;
   overflow: hidden;
   background: linear-gradient(to top right, rgba(161, 62, 148, 0.295),rgba(115, 223, 111, 0.336));

}

nav.container {
   display: grid;
   position: absolute;
   left: 2%;
   top: 2%;

   grid-template-rows: repeat(4, 1fr);
}

section.circle {
   display: flex;

   margin-top: 5px;

   position: relative;

   justify-content: center;
   align-items: center;

   background-color: rgba(220, 220, 140, .9);

   border-bottom: 6px solid rgba(83, 83, 47, 0.9);
   border-right: 6px solid rgba(92, 92, 52, 0.9);

   box-shadow: 10px 10px 2px rgba(150, 150, 100, .5);
   border-radius: 50%;

   width: 80px;
   height: 80px;

   font-size: 2.3em;
   font-family: 'Redressed';

   text-shadow: -2px -2px 3px rgba(207, 197, 197, 0.9);

   cursor: pointer;

   animation: magnify 2s linear infinite;
   transition-duration: .5s;
}

section.circle:hover {
   box-shadow: 6px 6px 6px rgba(131, 131, 86, 0.637);
   background: linear-gradient(to top left, rgba(160, 30, 30, .9), rgba(228, 66, 66, 0.89));
   border-bottom: 6px solid rgba(85, 59, 59, 0.89);
   border-right: 6px solid rgba(95, 65, 65, 0.89);

   border-radius: 25px;
   color: white;
   font-size: 2.8em;
   width: 200px;
   height: 90px;

   justify-content: start;
   padding-left: 30px;
   letter-spacing: 3px;

   transform: rotateY(15deg);
   animation: magnifyhover 2s linear infinite;
}
@keyframes magnify {
   0%, 100% {
      transform: translateX(-1px);
      
   }
   50%{
      transform: translateY(1px);
   }
}@keyframes magnifyhover {
   
   50%{
      transform: translateY(4px);
   }
}
@keyframes home {
   100%{
      transform: translateY(4px);
   }
}
section.author:hover{
   background: linear-gradient(to top left,
    rgba(160, 30, 30, .9),
     rgba(228, 66, 66, 0.89));
}
section.create:hover{
   background: linear-gradient(to top left,
    rgba(122, 49, 0, 0.9),
     rgba(216, 105, 0, 0.89));
}
section.more:hover{
   background: linear-gradient(to top left,
    rgba(99, 98, 29, 0.9),
     rgba(217, 221, 0, 0.89));
}
.author:hover::after {
   content:'uthor';
}
.create:hover::after {
   content:'reate';
}.more:hover::after {
   content:'ore...';
}


section.circle.home {
   width: 120px;
   height: 70px;
   border-radius: 25px;

   font-family: 'Lora';
   font-size: 2em;

   background-color: rgba(115, 223, 111, 0.658);
}
section.home:hover{
   background: rgba(89, 228, 100, 0.336);
   color: rgb(255, 255, 244);
   
   text-shadow: -2px -2px 2px rgba(50, 50, 50, .5);

   font-size: 2.5em;
   justify-content: start;

  box-shadow: 0 0 5px #209f7133,
   0 0 5px #209f7133,
   0 0 5px #209f713b,
   0 0 5px #209f7141;

   width: 120%;
   border-right: 3px solid rgba(22, 61, 21, 0.733);
   border-bottom: 3px solid rgba(18, 51, 17, 0.767);

   backdrop-filter: blur(15px);
}
section.circle::before{
   content:'';
   position: absolute;
   right: 205px;

   width: 12px;
   height: 12px;

   border-radius: 50%;

   background: transparent;
}
 section.circle:hover::before{
   background:  rgba(36, 33, 182, 0.9);
   /* box-shadow: */
  box-shadow: 0 0 5px #209f71,
   0 0 15px #209f71,
   0 0 30px #209f71,
   0 0 60px #209f71;
   backdrop-filter: blur(15px); 
}
section.author:hover::before{
 background:  rgba(182, 33, 33, 0.9);
   /* box-shadow: */
  box-shadow: 0 0 5px #a71919,
   0 0 15px #a71919,
   0 0 30px #a71919,
   0 0 60px #a71919;
   right: 102%;
}
section.create:hover::before{
 background:  rgba(255, 81, 0, 0.993);
   /* box-shadow: */
  box-shadow: 0 0 5px #b47706,
   0 0 15px #b47706,
   0 0 30px #b47706,
   0 0 60px #b47706;
   right: 102%;
}

section.more:hover::before{
 background:  rgba(255, 208, 0, 0.9);
   /* box-shadow: */
  box-shadow: 0 0 5px #c6d310,
   0 0 15px #c6d310,
   0 0 30px #c6d310,
   0 0 60px #c6d310;
   right: 102%;
}