@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
   display: flex;
   justify-content: center;

   background-color: rgba(153, 134, 194, 0.938);

}

section.intro {
   position: relative;

   display: grid;
   grid-template-rows: 1fr 4fr 1fr;

   width: 80%;
   min-height: 100vh;

   font-family: 'Akaya Telivigala', cursive;

   transition-duration: 1000ms;
}

.intro div.introduce {
   display: flex;
   justify-content: center;

   color: rgb(255, 253, 239);
   text-shadow: -1px -1px 1px rgb(0, 0, 0);
}

section.intro div.introduce h1 {
   margin: 3%;
   padding: 2%;

   width: 80%;

   background-color: rgb(50, 50, 50, .5);

   font-size: 3em;
   letter-spacing: 4px;

   border: 3px solid gray;
   border-radius: 15px;
   font-family: 'Cabin', sans-serif;
}
section.intro .list div.introduce h1::before{
   content: 'Home';
}
section.intro .Author div.introduce h1::before{
   content: 'Author';
}
section.intro .Create div.introduce h1::before{
   content: 'Create';
}
section.intro .More div.introduce h1::before{
   content: 'More';
}
section.intro div.mainBlock{
   position: relative;
   
   display: flex;
   justify-content: center;

   width: 100%;
   min-height: 100vh;

   background-color: rgba(254, 254, 255, 0.445);
}
.intro div.mainBlock.list{
   background-color: rgba(211, 241, 75, 0.212);
}
.intro div.mainBlock.Author{
   background-color: rgba(149, 91, 197, 0.151);
}
.intro div.mainBlock.Create{
   background-color: rgba(87, 102, 238, 0.137);
}

.intro div.mainBlock.More{
   background-color: rgba(236, 117, 247, 0.219);
}
