@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
body{
     overflow: hidden;
     /*overflow 속성은 over write 되는 박스 element 값을 제어할 수 있다. */
}
section {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     /*max-height CSS 속성은 요소의 최소 높이를 설정합니다.  min-height는 height 속성의 사용값이 자신의 값보다 작아지는걸 방지합니다.     min-height: 100vh;*/ 
     background: linear-gradient(to bottom, #f1f4f9, #dff1ff)
     
}
section .color {
     position: absolute;
     filter: blur(200px);
}
section .color:nth-child(1) 
     top: -350px;
     width: 600px;
     height: 600px;
     background: #ff359b;
}
section .color:nth-child(2) {
     bottom: -150px;
     left: 100px;
     width: 500px;
     height: 500px;
     background: #fffd87;
}
section .color:nth-child(3) {
     bottom: 50px;
     right: 200px;
     width: 300px;
     height: 300px;
     background: #7575ff;
}
.box {
     position: relative;
}
.box .square {
     position: absolute;
     backdrop-filter: blur(8px);
     box-shadow: 0, 25px, 45px rgba(0, 0, 0, 0.1);
     border: 1px solid rgba(255, 255, 255, 0.3);
     border-right: 1px solid rgba(252, 252, 252, 0.1);
     border-bottom: 1px solid rgba(252, 252, 252, 0.1);
     background: rgba(255, 255, 255, 0.1);
	  border-radius: 10px;
	  animation: animateBox 10s linear infinite;
	  animation-delay: calc(-1s * var(--i));
}
@keyframes animateBox {
	0%, 100% {
		transform: translateY(-40px);
	}
	50%{
		transform: translateY(40px);
	}
}
.box .square:nth-child(1) {
     top: -70px;
     right: -60px;
     width: 150px;
     height: 130px;
	  z-index: 2;
}
.box .square:nth-child(2) {
     top: 150px;
     right: 375px;
     width: 130px;
     height: 120px;
	  z-index: 2;
}
.box .square:nth-child(3) {
     top: 410px;
     right: 180px;
     width: 200px;
     height: 160px;
}
.box .square:nth-child(4) {
     top: -40px;
     right: 260px;
     width: 100px;
     height: 100px;
}
.box .square:nth-child(5) {
     top: 250px;
     right: -160px;
     width: 80px;
     height: 80px;
}

.container {
     position: relative;
     width: 400px;
     min-height: 400px;
     border-radius: 10px;
     background: rgba(252, 252, 252, 0.1);
     display: flex;
     justify-content: center;
     align-items: center;
     /* 요소 뒤 영역에 흐림이나 색상 시프트 등 그래픽 효과를 적용할 수 있는 속성입니다. */
     backdrop-filter: blur(5px);
     box-shadow: 0, 25px, 45px rgba(0, 0, 0, 0.1);
     border: 1px solid rgba(255, 255, 255, 0.5);
     border-right: 1px solid rgba(252, 252, 252, 0.2);
     border-bottom: 1px solid rgba(252, 252, 252, 0.2);
}
.form {
     position: relative;
     width: 100%;
     height: 100%;
     padding: 40px;
}
.form h2{
     position: relative;
     color: rgb(193, 235, 252);
     font-size: 2em;
     font-weight: 600;
     letter-spacing: 1px;
     margin-bottom: 40px;
     text-shadow: 2px 2px 2px rgba(91, 91, 91, 0.8);
}
.form h2::before {
     content: ''; 
     position: absolute;
     left: 0;
     bottom: -10px;
     width: 70px;
     height: 4px;
     background: #fff;
}
.form .inputBox {
     width: 100%;
     margin-top: 20px;
}

.form .inputBox input {
     width: 100%;
     background: rgba(255, 255, 255, 0.2);
     border: none;
     outline: none;
     padding: 10px 20px;
     border-radius: 35px;
     border: 1px solid rgba(255, 255, 255, 0.5);
     border-right: 1px solid rgba(255, 255, 255, 0.2);
     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
     font-size: 16px;
     letter-spacing: 1px;
     color: #fff;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.form .inputBox input::placeholder {
     color: rgb(125, 149, 172);
}
.form .inputBox input[type="submit"] {
     background: rgb(219, 255, 253);
     color: #666;
     max-width: 100px;
     cursor: pointer;
     margin-bottom: 20px;
     font-weight: 600;
}
.forget {
     margin-top: 5px;
     color: rgb(128, 126, 126);
}
.forget a {
     color: rgb(97, 88, 88);
     font-weight: 600;
}

