@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Pacifico&display=swap');




nav.navigation {
   display: flex;
   position: absolute;

   flex-direction: column;

   left: 20px;
   top: 60px;

   z-index: 10;
}
nav.navigation img {
   position: absolute;
   width: 50px;
   height: 50px;

   transform: translateY(-30px);
   transition-duration: 700ms;
   transition-delay: 300ms;
}
nav.navigation.on img{
   transform: translate(5px, -40px) rotateZ(180deg);
   transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.010);
 transition-delay: 1ms;
}
nav.navigation img:hover  {   /* 클릭 전 메뉴 버튼 */
   cursor: pointer;
   transform: scale(1.05);

   background-color: rgba(207, 226, 226, 0.384);
   box-shadow: -4px -3px rgba(85, 85, 85, 0.384);
   padding: 5px;

   border-radius: 15px;
}
nav.navigation.on img:hover  {   /* 클릭  후 메뉴 버튼 */
   box-shadow: 1px 1px rgba(141, 141, 141, 0);
   transform: translate(5px, -40px) rotateZ(180deg);
}


nav.navigation section.circle {
   transform: translate(-40px, 0) scale(1) rotateY(-90deg);

   transition-duration: 500ms;
   transition-timing-function: cubic-bezier(0.940, -0.190, 1.000, 0.510); /* custom */

   border-radius: 15px;

   font-size: 2em;

   width: 60px;
   height: 60px;

   text-align: center;

   padding: 0;

   margin-top: 15px;

   color: rgb(9, 129, 129);
   box-shadow: -5px -5px rgba(150, 200, 200, .7);
   cursor: pointer;
}
nav.navigation section.circle.list { 
   margin-top: 30px;
}
nav.navigation.on section.circle { 
   transition-duration: 500ms;
   background-color: rgba(150, 200, 200, .9);
   border: 3px solid rgba(130, 180, 180);
   box-shadow: -5px -5px rgba(150, 200, 200, .7);

   transform: translate(1px, 1px) scale(1) rotateY(0deg);
} 

nav.navigation.on section.circle:hover {
font-family: 'Gideon Roman', cursive;
font-weight: 600;
   width: 180px;
   color: rgb(7, 37, 37);
   text-shadow: -1px -1px rgba(104, 162, 177, 0.397);

   transition-duration: 100ms;

   background-color: rgba(128, 241, 241, 0.9);
   border: 3px solid rgb(235, 240, 167);
   box-shadow: -5px -5px rgba(173, 235, 235, 0.7);
   
   animation: navhover 2000ms linear infinite;
}

@keyframes navhover {
   0%, 100%{
      transform: translate(0, 1px) scale(1.1) rotateY(0deg);
      box-shadow: -4px -4px rgb(145, 199, 199);
   }
   50%{
      transform: translate(0, -1px) scale(1.1) rotateY(0deg);
      box-shadow: -4px -4px rgb(107, 150, 150);
   }
   
}

nav.navigation section.circle.list:hover::after {
   content: 'ist';
}
nav.navigation section.circle.author:hover::after {
   content: 'uthor';
}
nav.navigation section.circle.create:hover::after {
   content: 'reate';
}
nav.navigation section.circle.more:hover::after {
   content: 'ore';
}
/* animation: animateBox 10s linear infinite;
	  animation-delay: calc(-1s * var(--i));
}
@keyframes animateBox {
	0%, 100% {
		transform: translateY(-40px);
	}
	50%{
		transform: translateY(40px);
	}
} */